---
import Section from "@/components/Section.astro"
import {education} from "@cv"
import { isNoSubstitutionTemplateLiteral } from "typescript"
---
<Section title="Education">
    <ul>
        {

            education.map(({institution, area, studyType,startDate,endDate,courses})=>{
                const strYear = new Date(startDate).getFullYear()
                const endYear = endDate!=null ? new Date(endDate).getFullYear() : "2024(Estimado)"
                const years = `${strYear}-${endYear}`
                return(
                    <li>
                        <div>
                            <h3>{institution}</h3>
                            <h4>{area}</h4>
                        </div>
                        <time>{years}</time>                            
                    </li>
                )

            })
        }
    </ul>
</Section>
<style>
    ul{
        list-style-type: disc;
        display: flex;
        flex-direction: column;
        gap:32px;  
    }
    li{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 4px;
    }
    h3{
        font-weight: 500;
        color: #111;
        margin-bottom: 8px;
    }
    h4{
        font-weight: 300;
        color: #666;
    }
    time{
        color: #666;
        font-size: 0.85rem;
    }
</style>